# melpazoid <https://github.com/riscy/melpazoid> build checks.

# for i-ching package

name: melpazoid-i-ching
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install
      run: |
        python -m pip install --upgrade pip
        sudo apt-get install emacs && emacs --version
        git clone https://github.com/riscy/melpazoid.git ~/melpazoid
        pip install ~/melpazoid
    - name: Run
      env:
        LOCAL_REPO: ${{ github.workspace }}
        # RECIPE is your recipe as written for MELPA:
        RECIPE: (i-ching :repo "zzkt/i-ching" :fetcher github)
        # set this to false (or remove it) if the package isn't on MELPA:
        EXIST_OK: true
      run: echo $GITHUB_REF && make -C ~/melpazoid
